:root {
  --secondary-color: #c485e8;
  --branding-color: #f9f7fe;
  --heading-font-family: "Playfair Display";
  --body-font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
}
h1 {
  font-weight: bold;
  font-size: 95px;
}
h2 {
  font-size: 64px;
}
p {
  font-size: 16px;
  line-height: 30px;
}
.hero {
  background-color: var(--branding-color);
  text-align: center;
  padding: 85px 0;
}
.hero p {
  font-size: 24px;
  font-family: var(--body-font-family);
  margin-top: 30px;
}
.hero h2 {
  font-family: var(--body-font-family);
  font-size: 36px;
  line-height: 1.5;
}
.content-container {
  padding: 110px 50px;
}
.content-container h1 {
  font-size: 64px;
  line-height: 1.5;
}
.content-container h2 {
  font-size: 18px;
  font-family: var(--body-font-family);
}
.content {
  margin: 30px;
}
.content h3 {
  font-size: 24px;
  margin: 25px, 0px;
  line-height: 1px;
  padding: 15px;
}
.content p {
  font-size: 14px;
}
.btn-primary {
  border-radius: 10px;
  font-size: 28px;
  padding: 20px 40px;
  line-height: 27px;
}
.btn-primary-outline {
  border-radius: 10px;
  font-size: 28px;
  padding: 20px 40px;
  line-height: 25px;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}
.project-description {
  padding: 120px 60px;
}
.project {
  font-size: 35px;
  font-family: var(--heading-font-family);
}
@media (max-width: 900px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 45px;
  }
  .hero {
    padding: 80px 20px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }
  .content-container h1 {
    font-size: 50px;
  }
}
.workInquiry {
  font-size: 25px;
}
.bg {
  background-color: var(--branding-color);
}
button {
  border-radius: 10px;
  font-size: 20px;
  padding: 10px 20px;
  line-height: 27px;
  margin-left: 220px;
  margin-top: 10px;
  background-color: #6c63ff;
  border: none;
}
h4 {
  padding: 30px;
}
img {
  border-radius: 10px;
}
